@use '../../styles/colors';

.container {
	margin: 40px 3px 10px 3px;
}
.picfather {
	display: flex;
	justify-content: center;
}
.pic {
	background-color: colors.$color-2;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-bottom: 70px;
}

.icon {
	margin-right: 20px;
	margin-left: 5px;
}
.khat {
	width: 80%;
	height: 0.1px;
	background-color: rgb(177, 177, 177);
}
.back {
	position: absolute;
	left: 50px;
}
.box {
	display: flex;
	align-items: center;
	font-size: 20px;
	margin: 12px 20px 12px 20px;
}
.box:hover {
	transition: color 500ms;
	color: colors.$color-4;
}
