@use '../../styles/colors';

.header {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	font-size: 20px;
	align-items: center;
	justify-content: space-between;
	border-top: white 5px;
	border-bottom: solid 0.2px rgba(219, 219, 219, 0.945);
}

.headerTitle {
	font-size: 25px;
	font-weight: bold;
	margin-right: 10px;
}

.headerInfoDiv {
	display: flex;
	flex-direction: row;
	font-size: 25px;
}

.infoItem {
	color: black;
	font-size: 25px;
	margin-top: 5px;
	margin-left: 10px;
	cursor: pointer;
	&:hover {
		color: colors.$color-3;
	}
}
