@use '../../styles/colors';

.headerBox {
	margin-top: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.header {
	margin-top: 12px;
	font-size: 25px;
	font-weight: bold;
	margin-right: 12px;
}
.box {
	border-radius: 8px;
	height: 44px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	-webkit-box-shadow: 0px 0px 10px 1px rgb(230, 230, 230);
	-moz-box-shadow: 0px 0px 10px 1px rgb(226, 226, 226);
	box-shadow: 0px 0px 10px 1px rgb(223, 223, 223);
	&:hover {
		-webkit-box-shadow: 0px 0px 40px 10px rgba(232, 232, 232, 0.7);
		-moz-box-shadow: 0px 0px 40px 10px rgba(232, 232, 232, 0.7);
		box-shadow: 0px 0px 40px 10px rgba(232, 232, 232, 0.7);
	}
	margin-bottom: 8px;
}
.link {
	color: black;
	font-size: 18px;
	margin-right: 10px;
	&:hover {
		color: colors.$color-3;
	}
}
