@use '../../styles/colors';

.form {
	margin-top: 25%;
}

.button {
	width: 100%;
	height: 50px;
	color: white;
	margin-top: 15px;
	border-radius: 8px;
	// border: #ffab73 solid;
	border: colors.$color-4 solid;
	background-color: colors.$color-4;
	font-size: 20px;

	&:hover {
		background-color: colors.$color-3;
		border: colors.$color-3 solid;
	}
}

.loginLink {
	height: 50px;
	width: 100%;
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}

.aLink {
	font-size: 16px;
	color: colors.$color-4;
	font-size: 20px;

	&:hover {
		color: colors.$color-3;
	}
}

.terms {
	margin-top: 8px;
	margin-right: 5px;
	color: gray;
}

.problem {
	left: 0;
	bottom: 0;
	width: 100%;
	position: fixed;
	text-align: center;
	margin-bottom: 8px;
}

.problemLink {
	color: colors.$color-3;

	&:hover {
		color: colors.$color-2;
	}
}
