@use 'colors';
.card {
	height: 80px;
	border-radius: 5px;

	-webkit-box-shadow: 0px 0px 10px 1px rgba(242, 242, 242, 1);
	-moz-box-shadow: 0px 0px 10px 1px rgba(242, 242, 242, 1);
	box-shadow: 0px 0px 10px 1px rgba(242, 242, 242, 1);
}
.img {
	border-radius: 4px 0px 0px 4px;
	width: 78px;
	height: 80px;
	float: left;
}
.title {
	padding-right: 8px;
	font-size: 20px;
}
.distance {
	padding-right: 8px;
	color: grey;
	font-size: 14px;
}
