@use 'colors';

.container {
	margin: 40px 3px 10px 3px;
}
.picfather {
	display: flex;
	justify-content: center;
}
.pic {
	background-color: colors.$color-2;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-bottom: 70px;
}
.userInfo,
.setting,
.support {
	font-size: 20px;
	margin: 12px 5px 12px 0px;
	color: black;
	&:hover {
		color: colors.$color-4;
	}
}
.icon {
	margin-right: 30px;
}
.khat {
	width: 80%;
	height: 0.1px;
	background-color: rgb(177, 177, 177);
}
.back {
	margin-top: 4px;
	position: absolute;
	left: 50px;
	color: black;
	&:hover {
		color: colors.$color-4;
	}
}
