.form {
  margin-top: 25%;
}

.button {
  width: 100%;
  height: 34px;
  color: white;
  margin-top: 25px;
  border-radius: 8px;
  border: #ffab73 solid;
  background-color: #ffab73;
}
.button:hover {
  border: #ff954f solid;
  background-color: #ff954f;
}
.loginLink {
  height: 34px;
  width: 100%;
  margin-top: 13px;
  text-align: center;
}
.aLink {
  font-size: 16px;
  color: #ffab73;
}
.aLink:hover {
  color: #ff8738;
}
.terms {
  margin-top: 8px;
  margin-right: 5px;
  color: gray;
}
.problem {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  margin-bottom: 8px;
}
.problemLink {
  color: #ffab73;
}
.problemLink:hover {
  color: #ff9046;
}
